################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FamilyTreeWeb/.vs/FamilyTreeWeb/FileContentIndex
